#messages_container span.emoji,
#messages_container span.emoji-outer,
#messages_container .emoji-only {
    width: 60px !important;
    height: 60px !important;
}
.rxn {
    padding-top: 6px !important;
    height: 100% !important;
}
